=form_for song do |f|      
  = f.label :title         
  = f.text_field :title    
  = f.label :artist        
  = f.text_field :artist   
  = f.label :bpm           
  = f.text_field :bpm      
  = f.label :delay         
  = f.text_field :delay    
  = f.label :ucs_id        
  = f.text_field :ucs_id   
  = f.submit
